.enforcement-capacity {
    .highcharts-container{
        svg {
			image {
            	display:none
          	}
          	.highcharts-credits {
            	display: none
          	}
        }
        &.full-screen{
          	.highcharts-credits {
            	display: block
          	}
        }
    }
}