.health-perception-workers{
  .card--grid{
    justify-content: flex-start;
    .card--block--chart{
      margin: 0 1rem 3rem 0;
      .chart--block{
        padding: 2rem;
        height: 100%;
        header{
          display: flex;
          margin-bottom: 0;
          min-height: 24%;
          img{
            width: auto !important;
            margin-right: 1rem;
          }
          h2{
            margin: 0;
            text-align: left;
          }      
        }
        .highlited-data-list{
          list-style-type: none;
          text-align: left;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          padding: 0;
          li{
            width: 50%;
            text-align: center;
            span{
              font-family: 'Oswald';
              font-size: 3.6rem;
              margin: 0rem 0 2rem;
              color: $aquamarine;
              font-weight: bold;
              &.country-data{
                font-size: 3.6rem;
              }
              &.data-text{

              }
            } 
            label{
              display: block;
              font-family: 'Oswald';
              font-weight: normal;
            }               
          }
        }
      }
    }
  } 
  .block--filter--wrapper {
    margin: 2rem 0 0rem;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    min-height: 6rem;
    width:94%;
    .filter--dropdown--wrapper{
      position: relative;
      min-height: 5rem;
     // float: right;
      width: 33%;
    }
  }
  .highlited--data--section{
    background: $gray-lighter;
    padding: 2rem 0 0rem;
    border-bottom: 4px solid #003399;
    &.affix{
      padding: 2rem 0 0;
    }
    .highlited--data--block{
      display: flex;
      .highlited-data-item{
        &:first-child{
          width:20%;
          .flags--wrapper{
            float:left;
            margin-right: 2rem;
          }
          .eu-data{
            float: left;
            h2{
              color: $eu;
              margin: 0 0 0.5rem 0;
            }
            .download-report{
              a{
                color: $black;              
              }          
            }
          }
        }
        &:nth-child(2){
          width: 80%;
        }
        .highlited-data-list{
          list-style: none;
          display: flex;
          justify-content: space-between;
          li{
            width: 20%;
            padding: 0 1rem 0 0;
            .group-data{
              display: flex;
              flex-direction: row;
              justify-content: center;
            }
            span{
              font-family: 'Oswald';
              font-size: 3.6rem;
              margin: 0rem;
              color: $eu;
              font-weight: bold;
              &.country-data{
                font-size: 3.6rem;
              }
              &.data-text{

              }
            }
            label{
              font-size: 1.6rem;
              font-family: 'Oswald';
              font-weight: normal;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){  
  .health-perception-workers{
    .card--grid{
      .card--block--chart{
        margin: 0 1rem 2rem 0;
      }
    }  
  }
}

@media only screen and (max-width: 990px) and (min-width: 768px){  
  .health-perception-workers{
    .highlited--data--section{
      .highlited--data--block{
        .highlited-data-item{
          &:first-child{
            width:10%;
            .flags--wrapper{
            }
            .eu-data{
              h2{
              }
              .download-report{
                a{
                }          
              }
            }
          }
          &:nth-child(2){
            width: 90%;
          }
        }
      }
    } 
  }
}

@media only screen and (max-width: 767px){

  .health-perception-workers{
    .card--grid{
      .card--block--chart{
        .chart--block{
          header{    
          }
          .highlited-data-list{
            li{

            }
          }
        }
      }
    } 
    .highlited--data--section{
      &.affix{
      }
      .highlited--data--block{
        flex-direction: column;
        .highlited-data-item{
          width: 100% !important;
          &:first-child{
            width: 100%;
            margin-bottom: 1rem;
            .flags--wrapper {
              margin-right: 0;
              img{
                width: 6rem;
                margin-right: 2rem;
              }
            }
            .eu-data{
              h2{
                font-size: 3rem;
              }
              .download-report{
                a{
                  &:before{
                    display:block;
                  }
                }          
              }
            }        
          }
          .highlited-data-list{
            flex-wrap: nowrap;
            padding:0; 
            li{
              padding: 1rem 2rem 0 0;  
            }
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 550px){

  .health-perception-workers{
    .card--grid{
      .card--block--chart{
        .chart--block{
          padding: 1rem;
          header{    
          }
          .highlited-data-list{
            li{

            }
          }
        }
      }
    } 
    .highlited--data--section{
      &.hide-header.affix{
        top: -43rem;
      }
      .highlited--data--block{
        .highlited-data-item{
          .highlited-data-list{
            flex-wrap: wrap;
            li{
              width: 30%;
              padding: 0;
              span{
               // font-size: 2rem !important;
              }
            }
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 365px) {
  .health-perception-workers{
    .highlited--data--section{
      z-index: 100;
      .highlited--data--block{
        display: flex;
        flex-direction: column;
        .highlited-data-item{
          &:first-child{
            .flags--wrapper{
              img{
                width: 6rem;
                margin-right: 2rem;
              }
            }
            .eu-data{
              h2{
                font-size: 3rem;
              }
              .download-report{
                a{
                  &:before{
                    display:block;
                  }
                }          
              }
            }
          }
          .highlited-data-list{
            flex-wrap: wrap;
            li{
              width: 100%;
              text-align: left;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              .group-data{
                width: 20%;
                justify-content: start;
              }
              span{
                &.country-data{

                }
                &.data-text{

                }
              }
              label{
                width: 70%;
                line-height: 16px;
                padding-left: 1.6rem;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

}