.osh-culture {
	.highcharts-container{
        svg {
          image {
            display:none
          }
          .highcharts-credits {
            display: none
          }
        }
        &.full-screen{
          .highcharts-credits {
            display: block
          }
        }
    }
}

@media only screen 
and (max-width :767px)  {
	.osh-culture{
		svg{
			text{
				font-size: 1rem !important;
			}
		}	
	}
}