.prevention-companies{
	#tab3{
		.title--card{
			margin: 4rem 0 0;
		} 	
	}

	.highcharts-container{
        svg {
			image {
            	display:none
          	}
          	.highcharts-credits {
            	display: none
          	}
        }
        &.full-screen{
          	.highcharts-credits {
            	display: block
          	}
        }
    }
	.card--grid{
		.card--block--chart{
			.chart--block {
				img {
					width: auto;
					margin-bottom: 1.6rem;
				}
			}
		}
	} 
}



@media only screen 
and (max-width :767px){
	.prevention-companies{
		.card--block--chart{
			img{
				width: 100%;
			}
		}
	}
}