.work-accidents{
	.section--page {
	  padding: 4rem 2rem 2rem;
	}
	.submenu--block{
		.submenu--items--wrapper{
			justify-content: center;
			li{
			  width: 25%;
			}
		}
	}
}

@media (max-width: 990px) {

	.work-accidents{
		.submenu--block{
			.submenu--items--wrapper{
				min-height: auto;
				max-height: 7rem;
				overflow: hidden;
				display: block;
				li{
					width: 100%;
					padding: 0;
					display: none;
					position: relative;
					a{
						display: block;
						padding: 1rem 0;
						font-size: 2.4rem;
	          &:hover{
	            color: $orange;
	            border-bottom: 0 !important;
	          } 
					}
					&.active{
						display: block;
						a, a:hover, a:visited, a:focus{
							color: $aquamarine;
							border-bottom: 0;
						}
	          a:hover{
	            color: $orange;
	            border-bottom: 0 !important;
	          } 		
						&:after{
							content: "\f078";
							font: normal normal normal 14px/1 FontAwesome;
					    right: 1.5rem;
					    top: 1rem;
					    padding: 1rem;
					    position: absolute;
					    z-index: 10;
						}
					}
				}
				&.open-list{
		      max-height:70rem;
		      -webkit-transition: max-height 1.5s; 
		      transition: max-height 1.5s;
					li{
						display: block;
						&:after{
							content: "";
						}
						&.active{
							display: block;
							a, a:hover, a:visited, a:focus{
								border-bottom: 0;
							}							
						}
						&:nth-child(1){
							a{
								border-bottom: 0;
							}
							&:after{
								content: "\f077";
								font: normal normal normal 14px/1 FontAwesome;
						    right: 1.5rem;
						    top: 1rem;
						    padding: 1rem;
						    position: absolute;
					    	z-index: 10;
							}
						}
					}
				}
			}
		}	
	}
 
}


@media only screen 
and (max-width :767px){

	.work-accidents {
		.card--block--chart{
			padding: 1rem;
			.chart--submenu{
				right: 0;
				padding: 1rem;
			}
			h2{
				padding:0 2rem; 
			}
		}
		svg > g > g > g > g:nth-child(4) > g > g > text{
			font-size: 1rem !important;
		} 		
	}

	.work-accidents{
		svg{
			text{
				font-size: 0.8rem !important;
			}
		}
	}
	

}
